<!DOCTYPE html>

<html>
    <head>
        <title>Session</title>
    </head>
    <body bgcolor="#0eb6cc">
        
        <div id="like_button_container"></div>
        <p>Hello, I've been visited {{hit_count}} times since my container last restarted</p>
        <h3 style="color: #cc3a0e;">No messages yet...</h3>
        <div class="message_holder"></div>
        

        <form action="" method="POST">
            <input type="text" class="username" placeholder="User Name"/>
            <input type="text" class="message" placeholder="Messages"/>
            <input type="submit"/>
        </form>

        <!-- Load jquery and socket.io js-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

        <!-- Load my socket js <script src="js_src/my_socket.js"></script>-->
       

        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <!-- Load our React component.<script src="js_src/like_button.js"></script> -->
      
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on( 'connect', function() {
                socket.emit( 'my event', {
                data: 'User Connected'
                })
                var form = $( 'form' ).on( 'submit', function( e ) {
                    e.preventDefault()
                    let user_name = $( 'input.username' ).val()
                    let user_input = $( 'input.message' ).val()
                    socket.emit( 'my event', {
                        user_name : user_name,
                        message : user_input
                    })
                    $( 'input.message' ).val( '' ).focus()
                })
            })

            socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( (typeof msg.user_name !== 'undefined') && (msg.user_name !== '') && (typeof msg.message !== 'undefined') && (msg.message !== '')) {
                $( 'h3' ).remove()
                $( 'div.message_holder' ).append('<div><b style="color:#000">'+msg.user_name+'</b>'+':\t'+msg.message+'</div>' )
            }
            })
        </script>

        <script>
            'use strict';

            const e = React.createElement;

            class LikeButton extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = { liked: false };
            }

                render() {
                    if (this.state.liked) {
                        return 'You liked this.';
                    }

                    return e(
                        'button',
                        { onClick: () => this.setState({ liked: true }) },
                        'Like'
                    );
                }
            }
            const domContainer = document.querySelector('#like_button_container');
            ReactDOM.render(e(LikeButton), domContainer);
        </script>

    </body>
</html>

